################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApotekaShop/packages
/ApotekaShop/ApotekaShop.WebApi/obj/Debug
/ApotekaShop/ApotekaShop.WebApi/bin
/ApotekaShop/ApotekaShop.Services/obj/Debug
