@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);
@import url(apoteka-fonts/style.css);

.valign {
  display: flex;
  flex-direction: row;
}

.valign > [class^="col-"],
.valign > [class*=" col-"] {
  display: flex;
  align-items: center;
  /*justify-content: center;*/ /* Optional, to align inner items 
                              horizontally inside the column */
}

.divider {
 height:1px;
 background-color:#E4E4E4;
}

.caption .btn-primary {
    width:100%;
    display:block;
    background-color: #e5f1f8;
    padding: 10px;
    border-radius: 3px;
    
    color: #007abc;
    font-family: Roboto;
    font-weight: 500;
    font-size:16px;
    border-width:0;
}

.caption .btn-primary:hover {
    color: #ffffff;
    background-color: #007abc;
}

.caption .btn-primary:active {
    color: #ffffff;
    background-color: #005b8c;
}

.caption p:last-child{
    margin:0;
}

.has-error input {
background-color:#ffcecd;
}

div.input-group > small {
    color: #a94442;
    font-size: 12px;
}

.has-error .input-group > small{
    display:initial;
}

.thumbnail{
    padding:20px;
    border-radius:0;
}

.thumbnail > img, .thumbnail a > img {
    border: 1px dashed #eee;
}

.thumbnail > hr{
    margin-bottom:0px;
}

.thumbnail .caption{
    padding:0px
}

.label{
font-size:11px;
font-weight:500;
line-height:2;
padding: .2em .6em .2em .6em;
vertical-align:middle;
}

.input-group .label{
font-size:14px;
font-weight:300;
display:inline-block;
}

.caption p{
margin-bottom:6px;
}

.caption h3{
font-size:20px;
margin-bottom:2px;
}

.caption p + p:last-child {
    margin-top:12px;
}

.text-hidden-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:10px
}

.navbar{
    background:#ffffff;
    border-bottom:1px solid #E4E4E4;
}

.navbar-nav{
    margin:7.5px 0px;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
  height:auto;
}
.navbar-brand>img {
  height: auto;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.navbar-collapse{
padding: 13px 0;
background: #ffffff;
}
.navbar-header>button{
margin: 30px 10px;
}

.navbar-toggle .icon-bar{
    background-color: black;
}

.panel-footer{
    background-color:#cce9d7;
    font-weight: 300;
}

.panel-footer > span {
    font-weight: 500;
}

#custom-search-input{
    padding: 0px;
    background-color: transparent;
}

#custom-search-input input{
    border-width: 0px 0px 2px 0px;
    box-shadow: none;
    border-radius:0;
    border-bottom: solid #bbbebc;
    background-color: transparent;
    padding:0;
}

#custom-search-input input::-webkit-input-placeholder{
    font-size:14px;
    font-weight:300;
}

#custom-search-input .input-group-btn {
    border: 2px solid rgba(255,255,255,0);
    padding:2px 0px 2px 20px;
}

#custom-search-input button{
    margin: 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: white;
    background-color:#007abc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    background-color:#286090;
}

#custom-search-input .btn{
    border-radius:3px;
    padding:8px 20px 10px;
    font-size:16px;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#custom-search-input .glyphicon-search{
    font-size: 20px;
    top:4px;
    right: 3px;
}


body {
    padding-top: 90px;
    padding-bottom: 20px;
    font-family: Roboto, sans-serif; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.products {
    padding-top: 10px;
}

.row {
    margin-top: 3px;    
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2000 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border: solid 1px #E4E4E4;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #E4E4E4;
    white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }

.panel-search{
    border:0px;
    border-color:white;
    background-color:#fafdfb;
    box-shadow: none;
    margin:0px;
    }

.panel-primary > .panel-heading {
    display:none;
    
}

.panel > .table > tbody > tr > * {
    vertical-align: middle;
}

/*removing inner arrows from input:number*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-group.required .control-label:after { 
   content:" *";
   color:red;
   margin-right:-0.75em;
}

.nav-wizard {
margin-top:20px;
}