@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);
@import url(apoteka-fonts/style.css);



body {
    padding-top: 80px;
    /*padding-bottom: 20px;*/
    font-family: Roboto, sans-serif; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

.valign {
  display: flex;
  flex-direction: row;
}

.valign > [class^="col-"],
.valign > [class*=" col-"] {
  display: flex;
  align-items: center;
  /*justify-content: center;*/ /* Optional, to align inner items 
                              horizontally inside the column */
}


.divider {
 height:1px;
 background-color:#E4E4E4;
}


.caption .btn-primary {
    width:100%;
    /*display:block;*/
    background-color: #e5f1f8;
    padding: 10px;
    border-radius: 3px;
    
    color: #007abc;
    font-family: Roboto;
    font-weight: 500;
    font-size:16px;
    border-width:0;
}

.caption .btn-primary:hover {
    color: #ffffff;
    background-color: #007abc;
}

.caption .btn-primary:active {
    color: #ffffff;
    background-color: #005b8c;
}

.caption p:last-child{
    margin:0;
}



.thumbnail{
    padding:20px;
    border-radius:0;
    /*border-width:0 0 1px 0;*/
}

.thumbnail:hover{
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.04), -2px -2px 0px #ddd inset, 2px 2px 0px #ddd inset; 
}

.thumbnail > img, .thumbnail a > img {
    /*border: 1px dashed #eee;*/
    width:100%;
    height:auto;
    min-width: 100%;
    max-width: 50vmin;
}

.thumbnail > hr{
    margin-bottom:0px;
}

.thumbnail .caption{
    padding:0px
}

.caption p{
margin-bottom:6px;
}

.caption h3{
font-size:20px;
margin-bottom:2px;
}

.caption p + p:last-child {
    margin-top:12px;
}

.text-hidden-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:10px
}



.navbar{
    background:#ffffff;
    border-bottom:1px solid #E4E4E4;
}

.navbar-nav{
    margin: auto 0px;
    font-size:16px;
    font-weight:500;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
  height:auto;
}

.navbar-brand>img {
  height: auto;
  padding: 7.5px 0 7.5px 7.5px; /* firefox bug fix */
  width: auto;
}

.navbar-collapse{
padding: 13px 0;
background: #ffffff;
}

.navbar-header>button{
margin:22.5px 10px 22.5px 10px;
}

.navbar-toggle .icon-bar{
    background-color: black;
}

.nav select{
 border-radius: 0px;
 box-shadow:none;
 border:2px solid #337ab7;
 color:#337ab7;
 height:auto;
}

#custom-search-input{
    padding: 0px;
    background-color: transparent;
}


.panel-search input, .panel-search select{
    border-width: 0px;
    box-shadow: none;
    border-radius:0;
    border-bottom: 2px solid #bbbebc;
    background-color: transparent;
    padding:2px;
    margin-bottom:15px;
    margin-top:-5px;
}

.panel-search select option {
    padding:2px;
}

.panel-search label{
    margin:0px;
}

.panel-search input::-webkit-input-placeholder{
    font-size:14px;
    font-weight:300;
    display:none;
}

.panel-search .input-group-btn {
    border: 2px solid rgba(255,255,255,0);
    padding:2px 0px 2px 20px;
}

.panel-search button{
    margin: 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: white;
    background-color:#007abc;
}

.panel-search button:hover{
    border: 0;
    box-shadow: none;
    background-color:#286090;
}

.panel-search .btn{
    border-radius:3px;
    width:100%;
    padding:8px 20px 10px;
    font-size:16px;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panel-search .glyphicon-search{
    font-size: 20px;
    top:4px;
    right: 3px;
}

.panel-search{
    border:0px;
    border-color:white;
    background-color:#fafdfb;
    box-shadow: none;
    margin:0px;
    }

.panel-primary > .panel-heading {
    display:none;
    
}

.panel > .table > tbody > tr > * {
    vertical-align: middle;
}

.panel-footer{
    background-color:#cce9d7;
    font-weight: 300;
}

.panel-footer > span {
    font-weight: 500;
}

#ProductsPerPage * {
 display:inline-block !important;
 width: auto;
}

#ProductsPerPage .form-group{
padding:0px 15px;
}

/* Override the default bootstrap behavior where horizontal description lists will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}

.products {
    padding-top: 10px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2000 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border: solid 1px #E4E4E4;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #E4E4E4;
    white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }


/*removing inner arrows from input:number*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.has-error input {
background-color:#ffcecd;
}

div.input-group > small {
    color: #a94442;
    font-size: 12px;
}

.has-error .input-group > small{
    display:initial;
}

.label{
font-size:11px;
font-weight:500;
line-height:2;
padding: .2em .6em .2em .6em;
vertical-align:middle;
}

#autocomplete{
    width:0px;
    -webkit-transition:width 0.3s ease-in-out;
    border:0px;
    border-bottom:2px solid transparent;
    margin-left:7px;
    padding:2px 4px;
}

#autocomplete:focus{
    width:200px;
    box-shadow: none;
    display:table-cell;
    -webkit-transition:width 0.5s ease-in-out;
    border-bottom:2px solid #66afe9;
    outline: none;
}

.input-group .label{
font-size:14px;
font-weight:300;
display:inline-block;
}

input:focus, select:focus, .form-control:focus{
    box-shadow: none;
    /*color:#66afe9;*/
}

input:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder{
    /*color:#66afe9;*/
    font-weight:300;
}

/*
input:not(:placeholder-shown) ~ label, select:not(:placeholder-shown) ~ label {
    display: inline-block;
    position: absolute;
    top: -12px;
}

input:placeholder-shown ~ label, select:placeholder-shown ~ label{
    display:none;
}

.row.filters div{
    margin-top:20px;
    margin-bottom:10px;
}*/

.form-group.required .control-label:after { 
   content:" *";
   color:red;
   margin-right:-0.75em;
}

.nav-wizard {
margin-top:20px;
}

/* pagination */

.pagination > li:first-child > a, .pagination > li:last-child > a {
    margin: 1px 12px;
    border-radius:3px;
}

.pagination > li:nth-last-child(2) > a {
 border-radius: 0 3px 3px 0;
}

.pagination > li:nth-child(2) > a {
 border-radius: 3px 0 0 3px;
}

.pagination > li > a {
    background-color: #e5f1f8;
    width: 64px;
    height: 44px;
    text-align: center;
    
    color: #007abc;
    font-family: Roboto;
    font-weight: 500;
    font-size:16px;
    border:3px solid #e5f1f8;
    margin: 1px;
    padding: 8px 16px;
}

.pagination > li > a:hover{
    color: #ffffff;
    background-color: #007abc;
    border-color:#007abc;
}

.pagination > li > a.active {
    background-color: white;
}
