@using Newtonsoft.Json
@using Resources
@model ApotekaShop.Services.Models.OrderModel

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="checkoutController" ng-init="init(@JsonConvert.SerializeObject(Model))">
    <div ng-switch="checkoutModel.CurrentStep">

        <ul class="nav nav-wizard">
            <li ng-class="{ active: isActive(0) }" ng-click="navigate(0, $event)"><a href="">Order details</a></li>
            <li ng-class="{ active: isActive(1), disabled: isDisabled(1) }" ng-click="navigate(1, $event)"><a href="">Delivery details</a></li>
            <li ng-class="{ active: isActive(2), disabled: isDisabled(2) }" ng-click="navigate(2, $event)"><a href="">Messages</a></li>
        </ul>

        <div ng-switch-when="0">
            <h1>Order details</h1>
            <hr />
            <form class="form-horizontal" name="orderDetails" novalidate>
                <div class="form-group hidden">
                    <label class="col-sm-4 control-label">Gift Wrapping</label> <!-- popup required -->
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-link">Get the order wrapped up - it's free!</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="voucher_code" class="col-sm-4 control-label">Enter voucher code</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="checkoutModel.VoucherCode" id="voucher_code" placeholder="code">
                    </div>

                </div>

                <div class="form-group hidden">
                    <!-- display if codes where applied -->
                    <label class="col-sm-4 control-label">Applied gift codes</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">#code_1254, #code_t6537</p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Discount</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">DKK 0.00</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Shipping fee and freight</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">
                            Sent by Post Denmark, GLS or SwipBox in discreet package.<br />
                            Did you achieve free shipping on your order, deducted from the freight when you checkout and select GLS as delivery method.
                        </p>
                    </div>
                </div>


                <hr class="col-sm-offset-4" />

                <div class="form-group">
                    <label class="col-sm-4 control-label">Total</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">
                            @ShopResources.CurrencyName {{(totalPrice() / 100).toFixed(2)}}
                        </p>
                    </div>
                </div>

                <hr class="col-sm-offset-4" />

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" ng-click="next()" class="btn btn-primary pull-right">Next Step</button>
                    </div>
                </div>
            </form>
            <hr />
        </div>
        <div ng-switch-when="1">
            <h1>Delivery details</h1>
            <hr />
            <form class="form-horizontal">
                <div class="form-group required">
                    <label class="col-sm-4 control-label">I Order as</label>
                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="checkoutModel.DeliveryDetails" name="optionsRadios" value="private">
                                Private person
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="checkoutModel.DeliveryDetails" name="optionsRadios" value="business">
                                Business order
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="checkoutModel.DeliveryDetails" name="optionsRadios" value="public">
                                Public institution
                            </label>
                        </div>
                    </div>
                </div>

                <hr class="col-sm-offset-4" />

                <div class="form-group required">
                    <label for="firstname" class="col-sm-4 control-label">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" required id="firstname" ng-model="checkoutModel.FirstName" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="surname" class="col-sm-4 control-label">Surname</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" required id="surname" ng-model="checkoutModel.Surname" placeholder="Surname">
                    </div>
                </div>

                <div class="form-group required" ng-class="{ hidden: checkoutModel.DeliveryDetails === 'private'}">
                    <label for="company_name" class="col-sm-4 control-label">Company name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" required ng-model="checkoutModel.CompanyName" id="company_name" placeholder="company_name">
                    </div>
                </div>
                <div class="form-group required" ng-class="{ hidden: checkoutModel.DeliveryDetails !== 'public'}">
                    <label for="EAN" class="col-sm-4 control-label">EAN Code</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" required id="EAN" ng-model="checkoutModel.EAN" placeholder="EAN">
                    </div>
                    <div class="col-sm-5"><p class="form-control-static">Applies only to public companies</p></div>
                </div>

                <div class="form-group required">
                    <label for="address" class="col-sm-4 control-label">Address</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" required id="address" ng-model="checkoutModel.Address" placeholder="Address">
                    </div>
                </div>

                <div class="form-group required">
                    <label for="postcode" class="col-sm-4 control-label">Post Code &amp; City</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" required id="postcode" ng-model="checkoutModel.PostCode" placeholder="Post Code">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" required id="city" ng-model="checkoutModel.City" placeholder="City">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="country" class="col-sm-4 control-label">Country</label>
                    <div class="col-sm-8">
                        <select class="form-control" required id="country">
                            <option>Denmark</option>
                        </select>
                    </div>
                </div>

                <hr class="col-sm-offset-4" />

                <div class="form-group required">
                    <label for="email" class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" required id="email" ng-model="checkoutModel.Email" placeholder="Email"><br />
                        <p class="form-control-static"><input type="checkbox" ng-model="checkoutModel.IsSubscribe"> Sign up and get a special offers on our products. You can always unsubscribe.</p>
                    </div>
                </div>

                <div class="form-group required">
                    <label for="mobile" class="col-sm-4 control-label">Mobile</label>
                    <div class="col-sm-8">
                        <input type="tel" class="form-control" required id="mobile" ng-model="checkoutModel.MobileNumber" placeholder="Mobile number">
                    </div>
                </div>

                <hr class="col-sm-offset-4" />

                <div class="form-group">
                    <label for="subscribe_check" class="col-sm-4 control-label">Got some comments?</label>
                    <div class="col-sm-8">
                        <p class="form-control-static"><input type="checkbox" ng-model="checkoutModel.GotComments" id="subscribe_check" checked> Yes</p>
                    </div>
                </div>
                <div  ng-class="{ hidden: !checkoutModel.GotComments }">
                    <div class="form-group ">
                        <label for="order_comment" class="col-sm-4 control-label">Comment to order</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="order_comment" ng-model="checkoutModel.OrderComments" placeholder="Ex. for service questions"></textarea>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="delivery_comment" class="col-sm-4 control-label">Comment on delivery</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="delivery_comment" ng-model="checkoutModel.DeliveryComment" placeholder="Ex. how and when we must deliver package."></textarea>
                        </div>
                    </div>
                </div>
        <hr class="col-sm-offset-4" />

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="button" ng-click="back()" class="btn btn-default">Back</button>
            </div>

            <div class="col-sm-4">
                <button type="submit" ng-click="next()" class="btn btn-primary pull-right">Next Step</button>
            </div>
        </div>
        </form>

        <hr />
    </div>
    <div ng-switch-when="2">
        <h1>Empty structure for copying</h1>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label for="id" class="col-sm-4 control-label">Label</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        Contents
                    </p>
                </div>
            </div>

            <hr class="col-sm-offset-4" />

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="button" ng-click="back()" class="btn btn-default">Back</button>
                </div>

                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary pull-right">Next Step</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <div class="hidden">
        <h1>Log in</h1>
        <hr />
        <form class="form-horizontal ">
            <div class="form-group required">
                <label for="Email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" required id="Email" placeholder="Email">
                </div>
            </div>
            <div class="form-group required">
                <label for="Password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" required id="Password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    <button type="button" class="btn btn-link">Register</button>
                </div>
            </div>
        </form>
    </div>   
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/checkout")
}


