@using Newtonsoft.Json
@using Resources
@model ApotekaShop.Services.Models.OrderModel

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="checkoutController" ng-init="init(@JsonConvert.SerializeObject(Model))">
    <div ng-switch="checkoutModel.CurrentStep">

        <ul class="nav nav-wizard">
            <li ng-class="{ active: isActive(0) }" ng-click="navigate(0, $event)"><a href="">Checkout</a></li>
            <li ng-class="{ active: isActive(1), disabled: isDisabled(1) }" ng-click="navigate(1, $event)"><a href="">Shipping</a></li>
            <li ng-class="{ active: isActive(2), disabled: isDisabled(2) }" ng-click="navigate(2, $event)"><a href="">Payment</a></li>
            <li ng-class="{ active: isActive(3), disabled: isDisabled(3) }" ng-click="navigate(2, $event)"><a href="">Receipt</a></li>
        </ul>

        <div ng-switch-when="0">
            <h1>Checkout</h1>
            <hr />
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Sum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in checkoutModel.Items">
                            <th scope="row">{{$index}}</th>
                            <td>
                                <b>{{order.Name | capitalize}}</b>
                            </td>
                            <td>
                                {{currencyName}} {{(order.PricePerUnit / 100).toFixed(2)}}
                            </td>
                            <td style="max-width:120px;">
                                {{order.Count}}
                            </td>
                            <td>
                                {{currencyName}} {{(order.PricePerUnit / 100 * order.Count).toFixed(2)}}
                            </td>

                        </tr>
                    </tbody>
                </table>

            <hr/>
            <form class="form-horizontal" name="orderDetails" novalidate>
                <div class="form-group hidden">
                    <label class="col-sm-3 control-label">Gift Wrapping</label> <!-- popup required -->
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-link">Get the order wrapped up - it's free!</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="voucher_code" class="col-sm-3 control-label">Enter voucher code</label>
                    <div class="col-sm-4">
                        <div class="input-group has-error">
                            <input type="text" class="form-control" ng-model="checkoutModel.VoucherCode" id="voucher_code" placeholder="code">
                            @*<span class="input-group-addon">
                                <i data-toggle="tooltip" title="Error msg here" data-container="body" class="glyphicon glyphicon-alert"></i>
                            </span>*@
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">Apply code</button>
                            </span>
                        </div>
                        <div class="input-group has-error"> <!-- if no has-error, it won't be displayed by default -->
                            <small class="">Incorrect code applied. Check it or type in another code.</small>
                        </div>
                    </div>

                </div>

                <div class="form-group hidden">
                    <!-- display if codes where applied -->
                    <label class="col-sm-3 control-label">Applied gift codes</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">#code_1254, #code_t6537</p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Discount</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">DKK 0.00</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Shipping fee and freight</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            Sent by Post Denmark, GLS or SwipBox in discreet package.<br />
                            Did you achieve free shipping on your order, deducted from the freight when you checkout and select GLS as delivery method.
                        </p>
                    </div>
                </div>


                <hr class="col-sm-offset-3" />

                <div class="form-group">
                    <label class="col-sm-3 control-label">Total</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            @ShopResources.CurrencyName {{(totalPrice() / 100).toFixed(2)}}
                        </p>
                    </div>
                </div>

                <hr class="col-sm-offset-3" />

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" ng-click="next()" class="btn btn-primary pull-right">Shipping &rarr;</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-switch-when="1">
            <h1>Shipping</h1>
            <hr />
            <form name="shippingForm" class="form-horizontal" novalidate>
                @*<div class="form-group required">
                    <label class="col-sm-3 control-label">I Order as</label>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="checkoutModel.DeliveryDetails" name="optionsRadios" value="private">
                                Private person
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="checkoutModel.DeliveryDetails" name="optionsRadios" value="business">
                                Business order
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="checkoutModel.DeliveryDetails" name="optionsRadios" value="public">
                                Public institution
                            </label>
                        </div>
                    </div>
                </div>

                <hr class="col-sm-offset-3" />*@

                <div class="form-group required" ng-class="{ 'has-error': shippingForm.firstname.$invalid && shippingForm.firstname.$dirty}">
                    <label for="firstname" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" required name="firstname" ng-model="checkoutModel.FirstName" placeholder="First Name" required/>
                    </div>
                </div>
                <div class="form-group required" ng-class="{ 'has-error': shippingForm.surname.$invalid && shippingForm.surname.$dirty}">
                    <label for="surname" class="col-sm-3 control-label">Surname</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" required name="surname" ng-model="checkoutModel.Surname" placeholder="Surname" required/>
                    </div>
                </div>

                @*
                <div class="form-group required" ng-class="{ hidden: checkoutModel.DeliveryDetails === 'private'}">
                    <label for="company_name" class="col-sm-3 control-label">Company name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" required ng-model="checkoutModel.CompanyName" id="company_name" placeholder="company_name">
                    </div>
                </div>
                <div class="form-group required" ng-class="{ hidden: checkoutModel.DeliveryDetails !== 'public'}">
                    <label for="EAN" class="col-sm-3 control-label">EAN Code</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" required id="EAN" ng-model="checkoutModel.EAN" placeholder="EAN">
                    </div>
                    <div class="col-sm-5"><p class="form-control-static">Applies only to public companies</p></div>
                </div>
                *@

                <div class="form-group required"  ng-class="{ 'has-error': shippingForm.address.$invalid && shippingForm.address.$dirty }">
                    <label for="address" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" required name="address" ng-model="checkoutModel.Address" placeholder="Address" required/>
                    </div>
                </div>

                <div class="form-group required">
                    <label for="postcode" class="col-sm-3 control-label">Post Code &amp; City</label>
                    <div class="col-sm-4" ng-class="{ 'has-error': shippingForm.postcode.$invalid && shippingForm.postcode.$dirty }">
                        <input type="text" class="form-control" required name="postcode" ng-model="checkoutModel.PostCode" placeholder="Post Code" required>
                    </div>
                    <div class="col-sm-5" ng-class="{ 'has-error': shippingForm.city.$invalid && shippingForm.city.$dirty }">
                        <input type="text" class="form-control" required name="city" ng-model="checkoutModel.City" placeholder="City" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="country" class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <select class="form-control" required id="country">
                            <option>Denmark</option>
                        </select>
                    </div>
                </div>

                <hr class="col-sm-offset-3" />

                <div class="form-group required" ng-class="{ 'has-error': shippingForm.email.$invalid && shippingForm.email.$dirty }">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" required name="email" ng-model="checkoutModel.Email" placeholder="Email" required><br />
                        <p class="form-control-static"><input type="checkbox" ng-model="checkoutModel.IsSubscribe"> Sign up and get a special offers on our products. You can always unsubscribe.</p>
                    </div>
                </div>

                <div class="form-group required" ng-class="{ 'has-error': shippingForm.mobile.$invalid && shippingForm.mobile.$dirty }">
                    <label for="mobile" class="col-sm-3 control-label">Mobile</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" required name="mobile" ng-model="checkoutModel.MobileNumber" placeholder="Mobile number" required>
                    </div>
                </div>

                <hr class="col-sm-offset-3" />

                <div class="form-group">
                    <label for="subscribe_check" class="col-sm-3 control-label">Got some comments?</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"><input type="checkbox" ng-model="checkoutModel.GotComments" id="subscribe_check" checked> Yes</p>
                    </div>
                </div>
                <div  ng-class="{ hidden: !checkoutModel.GotComments }">
                    <div class="form-group ">
                        <label for="order_comment" class="col-sm-3 control-label">Comment to order</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" id="order_comment" ng-model="checkoutModel.OrderComments" placeholder="Ex. for service questions"></textarea>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="delivery_comment" class="col-sm-3 control-label">Comment on delivery</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" id="delivery_comment" ng-model="checkoutModel.DeliveryComment" placeholder="Ex. how and when we must deliver package."></textarea>
                        </div>
                    </div>
                </div>
        <hr class="col-sm-offset-3" />

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button type="button" ng-click="back()" class="btn btn-default">&larr; Checkout</button>
            </div>

            <div class="col-sm-5">
                <button type="submit" ng-click="next()"  ng-disabled="shippingForm.$invalid" class="btn btn-primary pull-right">Payment &rarr;</button>
            </div>
        </div>
        </form>

        <hr />
    </div>
        <div ng-switch-when="2">
            <h1>Payment</h1>
            <hr />
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="id" class="col-sm-3 control-label">Label</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            Contents
                        </p>
                    </div>
                </div>

                <hr class="col-sm-offset-3" />

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="button" ng-click="back()" class="btn btn-default">&larr; Shipping</button>
                    </div>

                    <div class="col-sm-5">
                        <button type="submit" ng-click="next()" class="btn btn-primary pull-right">Receipt &rarr;</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-switch-when="3">
            <h1>Receipt</h1>
            <hr />
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="id" class="col-sm-3 control-label">Label</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            Contents
                        </p>
                    </div>
                </div>

                <hr class="col-sm-offset-3" />

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="button" ng-click="back()" class="btn btn-default">&larr; Payment</button>
                    </div>

                    <div class="col-sm-5">
                        <button type="submit" ng-click="next()" class="btn btn-primary pull-right">Finish</button>
                    </div>
                </div>
            </form>
        </div>
    <div ng-switch-when="4">
        <h1>Empty structure for copying</h1>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label for="id" class="col-sm-4 control-label">Label</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        Contents
                    </p>
                </div>
            </div>

            <hr class="col-sm-offset-4" />

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="button" ng-click="back()" class="btn btn-default">Back</button>
                </div>

                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary pull-right">Next Step</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <div class="hidden">
        <h1>Log in</h1>
        <hr />
        <form class="form-horizontal ">
            <div class="form-group required">
                <label for="Email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" required id="Email" placeholder="Email">
                </div>
            </div>
            <div class="form-group required">
                <label for="Password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" required id="Password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    <button type="button" class="btn btn-link">Register</button>
                </div>
            </div>
        </form>
    </div>   
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/checkout")
}


