@model System.Collections.Generic.IEnumerable<ApotekaShop.Services.Models.OrderItemModel>
<div class="col-sm-1 col-md-1 pull-right" style="padding-top: 10px">
    <a  id="orderItemsCount" href="@Url.Action("Index", "Order")">@Model.Count()</a>
</div>
