@font-face {
    font-family: 'apoteka-meds';
    src:    url('fonts/apoteka-meds.eot?e55fgg');
    src:    url('fonts/apoteka-meds.eot?e55fgg#iefix') format('embedded-opentype'),
        url('fonts/apoteka-meds.ttf?e55fgg') format('truetype'),
        url('fonts/apoteka-meds.woff?e55fgg') format('woff'),
        url('fonts/apoteka-meds.svg?e55fgg#apoteka-meds') format('svg');
    font-weight: normal;
    font-style: normal;
}

span[class*="apoteka-icon-"] {
 vertical-align:middle;
}

span[class*="apoteka-icon-"]:before{
/* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'apoteka-meds' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    margin-left:-3px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.apoteka-icon-tablet-any:before {
    content: "\e900";
}
.apoteka-icon-tablet-round:before {
    content: "\e901";
}
.apoteka-icon-tablet-partable:before {
    content: "\e902";
}
.apoteka-icon-pill:before {
    content: "\e903";
}
.apoteka-icon-liquid:before {
    content: "\e904";
}
.apoteka-icon-cream:before {
    content: "\e904";
}
.apoteka-icon-spray:before {
    content: "\e905";
}
.apoteka-icon-patch:before {
    content: "\e906";
}
.apoteka-icon-powder:before {
    content: "\e907";
}

